<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petfriend">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="펫프렌드"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">


        <activity android:name=".Activity.Menu.Diary_detail_Activity"></activity>
        <activity android:name=".Activity.Menu.Diary_Update_Activity" />
        <activity android:name=".Activity.Menu.Diary_Add_Activity" />
        <activity android:name=".Activity.Menu.Diary_Activity" />
        <activity android:name=".Activity.Idea.Idea_place_set_Activity" />
        <activity android:name=".Activity.Idea.Idea_PlaceUpdate_Activity" />
        <activity android:name=".Activity.Idea.Idea_PlaceAdd_Activity" ></activity>

        <activity android:name=".Activity.Idea.Idea_PetAddActivity" >
        </activity>

        <activity android:name=".Activity.Idea.Idea_PetUpdateActivity" /> <!-- //로그인,회원가입 -->
        <activity android:name=".Activity.Login.LodingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Login.LoginActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".Activity.Login.SignupActivity" />
        <activity android:name=".Activity.Login.Signup_MemberActivity" />
        <activity android:name=".Activity.Login.IdpwActivity" />
        <activity
            android:name=".Activity.MainActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".Activity.Newspeed.newspeedActivity" />
        <activity android:name=".Activity.Newspeed.AddnewspeedActivity" />
        <activity android:name=".Activity.Newspeed.newspeed_photo_selectActivity" />
        <activity android:name=".Activity.Newspeed.newspeed_photoActivity" />
        <activity android:name=".Activity.Menu.myprofileActivity" />
        <activity android:name=".Activity.Menu.myprofile_editActivity" />
        <activity android:name=".Activity.Menu.optionActivity" />
        <activity android:name=".Activity.Menu.likeActivity" />

        <!-- //아이디어 부분 -->
        <activity
            android:name=".Activity.Idea.IdeaActivity"
            android:launchMode="singleInstance" />
        <activity android:name=".Activity.Idea.Idea_pet_Activity">

        </activity>
        <activity android:name=".Activity.Idea.Idea_place_Acitivity" />
        <activity android:name=".Activity.Idea.Idea_pet_detail_Activity" />
        <!-- //카메라 부분 -->
        <activity android:name=".Activity.Camera.CameraActivity" />
        <activity android:name=".Activity.Camera.GalleryActivity" />
    </application>

</manifest>